@{
    ViewData["Title"] = "About This Project";
}
<h2>@ViewData["Title"]</h2>

<p>Here's some more information about the Alpine Ski Hill project.</p>

<h3>For the Lastest Version of the Project</h3>
<p>
    We address issues, comments, questions and the like on our GitHub repository for the site. 
    The latest version of the code is also available, with updates to keep in step with ASP.NET 
    advancements.    
</p>
<p>
    <a href="https://github.com/AspNetMonsters/AlpineSkiHouse">Alpine Ski House project on GitHub</a>
</p>

<h3>Getting Help</h3>
<p>You can find more information about ASP.NET Core at the following posh internet desinations:</p>
<ul>
    <li><a href="https://docs.microsoft.com/en-us/aspnet/core/">ASP.NET Documentation</a></li>
    <li><a href="https://channel9.msdn.com/Series/aspnetmonsters?sort=recent#tab_sortBy_recent">The ASP.NET Monsters on Channel 9</a></li>
    <li><a href="http://live.asp.net">The ASP.NET Community Standup</a></li>
</ul>

<h3>Image Attribution</h3>
<p>Images on this site found by Creative Common search on <a href="http://www.bing.com/images/search?pq=mountain+ski+resort&amp;sc=0-16&amp;sp=-1&amp;sk=&amp;q=mountain+ski+resort&amp;qft=+filterui:licenseType-Any+filterui:imagesize-large&amp;FORM=R5IR3">Bing Image Search</a> and used under <a href="https://creativecommons.org/licenses/by/2.0/">CC BY The ASP.NET Monsters</a>.</p>

<p>Artwork on this site is a derivative of images found by Creative Common search on <a href="http://www.bing.com/images/search?pq=mountain+ski+resort&amp;sc=0-16&amp;sp=-1&amp;sk=&amp;q=mountain+ski+resort&amp;qft=+filterui:licenseType-Any+filterui:imagesize-large&amp;FORM=R5IR3">Bing Image Search</a>, and licensed under <a href="https://creativecommons.org/licenses/by/2.0/">CC BY The ASP.NET Monsters</a>.</p>