@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Alpine Ski House<br />
    The Mountain<br />
    90210<br />
    <abbr title="Phone">P:</abbr>
    <a href="tel:425.555.0100">425.555.0100</a>
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@alpineskihouse.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@alpineskihouse.com</a>
</address>
