@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to Alpine Ski House</h1>
<div class="row">
    

    @await Component.InvokeAsync("MetersSkied")
    @await Component.InvokeAsync("SkiCards")

</div>
