@{
    ViewData["Title"] = "Conditions";
}

<h1>Welcome to Alpine Ski House</h1>

<table class="table">
    <thead>
        <tr>
            <th>Overnight</th>
            <th>Last 24 hours</th>
            <th>Last 7 days</th>
            <th>Settled base</th>
            <th>Season to date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>5cm</td>
            <td>10cm</td>
            <td>106cm</td>
            <td>176cm</td>
            <td>329cm</td>
        </tr>
    </tbody>
</table>

<h2>Open Lifts</h2>
<ul class="lift-list">
    <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Abe's</li>
    <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Sky reach</li>
    <li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Jill</li>
    <li><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Wolverine</li>
</ul>
