
<div class="row">
    <div class="col-md-6">
        <h2>Distance Skied this Year</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <canvas id="metersSkiedChart" width="400" height="200"></canvas>
    </div>
</div>

<script>
    System.import("Controls/MetersSkiedLoader");
</script>