@using AlpineSkiHouse.Models.CallCenterViewModels
@model CallCenterStatusViewModel

<div class="card card-outline-success text-xs-center">
    <div class="card-header ">
        Having trouble? We're here to help!
    </div>

    <div class="card-block">
        <blockquote class="card-blockquote">
            We have @Model.OnlineRepresentatives friendly agents available.
            <br />
            Give us a call at <i class="glyphicon glyphicon-earphone"></i> <a href="tel:@Model.PhoneNumber">@Model.PhoneNumber</a>
        </blockquote>
    </div>
</div>


